.form-select {
  display: initial;
  width: auto;
}
button.btn.btn-primary {
  vertical-align: auto;
}
input.form-control.w-50 {
  width: 48% !important;
  margin-right: 1%;
  margin-bottom: 10px !important;
}
input.form-control.w-33,
select.form-select.w-33 {
  width: 32% !important;
  margin-right: 1%;
}
.btn-div {
  display: flex;
  justify-content: space-between;
}
.btn.btn-addplayer,
.btn.btn-cancel {
  border: 1px solid #ced4da;
}
